{{#if user}}
<div>
    <h1>{{this.name}}</h1>
    <p>{{this.email}}</p>
    <p>{{this.gf}}</p>
    <p>{{this.vegan}}</p>
    <p>{{this.vegetn}}</p>
    <p>{{this.kosh}}</p>
    <p>{{this.na}}</p>
    <p>{{this.other}}</p>
    <h2>Reviews</h2>
    <ul class="sans">
    {{#each messages}}
            <li class="bullet"><p><b>{{this.restName}}</b></p><p>{{this.message}}</p><p>{{this.rating}}/5</p></li>
    {{/each}}
    </ul>
</div>
{{else}}
    <h2>Please Sign in or Register</h2>
    <a href="register">Register</a>
    <a href="login">Login</a>
{{/if}}
<h1>Title</h1>