<h1>Viewing Restaurant Info:</h1>
<h3>{{this.restaurantName}}</h3>
<p>{{this.restaurantDesc}}</p>
<ul id="accomodations">
    {{#if glutenFree}}<li>{{this.glutenFree}}</li>{{/if}}
    {{#if vegetarian}}<li>{{this.vegetarian}}</li>{{/if}}
    {{#if vegan}}<li>{{this.vegan}}</li>{{/if}}
    {{#if lowCalorie}}<li>{{this.lowCalorie}}</li>{{/if}}
    {{#if kosher}}<li>{{this.kosher}}</li>{{/if}}
</ul>
<a href="/">Home</a>
{{#if user}}
	<a href="/logout">Logout</a>
{{else}}
	<a href="login">login</a>
	<a href="register">Register</a>
{{/if}}